.cards {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}
.container {
  border: 2px solid #777;
  display: flex;
  padding: 12px;
}

.container .content {
  border: 2px solid #777;
  flex: 1;
}

.container .side {
  margin-left: 10px;
  width: 200px;
  height: 500px;
  margin-top: 65px;
  border: solid;
  border-radius:25px
}

.container .side div {
  border: 2px solid #777;
  /* padding-top:10px ; */
  height: 50px;
  width: 40%px;
}

.container .side div:not(:first-child) {
  margin-top: 30px;
}
