.pag-container {
  margin-top: 23px;
  padding: 0;
}

.div-list-container {
  margin: 20px 0;
}

.div-list-container-ul {
  list-style: none;
  text-align: center;
}

.div-list-container-ul-li {
  display: inline-block;
  margin-right: 10px;
}
.div-list-container ul li label {
  display: block;
  padding: 0px 10px;
  color: #fff;
  background: black;
  text-decoration: none;
}
/* .div-list-container ul li label:hover {
  background: #03738c;
}
.div-list-container ul li label:active {
  background: #03738c;
  font-weight: bold;
} */
